---
import "../styles/global.css";

interface Props {
	title: string;
}
const { title } = Astro.props;
---
<!doctype html>
<html lang="no">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet" />
	</head>
	<body class="bg-slate-50 antialiased overflow-hidden">
		<slot />
	</body>
</html>

<style is:global>
	body {
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		font-family: "Inter", sans-serif;
	}
	.timer-transition {
		transition: stroke-dashoffset 1s linear;
	}
</style>